<%= form_for @trip, method: :put, remote: true do |_| %>
    <div>
      <div class="container trip-basic-info-form">
        <h2 class="fs-title">Trip Basic Information</h2>

        <div id="trip-error">
          <%= render 'share/model_error', object: @trip %>
        </div>

        <div class="row">
          <div class="col-md-6">
            <fieldset class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" value="<%= @trip.title %>" placeholder="Enter title">
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset class="form-group">
              <label for="expected_budget">Expected Budget (VND)</label>
              <input type="number" class="form-control" id="expected_budget" min="0" value="<%= @trip.expected_budget.to_i%>"
                     placeholder="Enter expected budget" name="trip[expected_budget]">
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <fieldset class="form-group">
              <label for="departures">Starting Information</label>
              <div id="trip-departure-id">
                <input class="typeahead form-control" type="text" value="<%= @trip.departure.try(:name) %>"
                       name="trip[departure]" placeholder="Departure" id="departure">
              </div>
            </fieldset>
          </div>
          <div class="col-md-6">
            <fieldset class="form-group">
              <label for="start-date">Start Date</label>
              <input title="Start Date" type="text" class="form-control datetimepicker"
                     value="<%= @trip.start_date.try(:strftime, '%d-%m-%Y') %>"
                     name="trip[start_date]" id="" placeholder="Enter Start Date"/>
            </fieldset>
          </div>
        </div>
        <div>
          <fieldset class="form-group">
            <label>Participants</label>
            <ul id="participantTags">
            </ul>
            <%= hidden_field_tag 'participant' %>
          </fieldset>
        </div>
        <div>
          <fieldset class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" name="trip[description]"
                      placeholder="Enter description"><%= @trip.description %></textarea>
          </fieldset>
        </div>
      </div>
    </div>

    <button type="submit" class="btn hot-action-button" id="update_trip">
      Save & Next
    </button>
<% end %>

<script>
  $('#update_trip').click(function () {
    showLoading();
  });

  // datetime picker
  $('.datetimepicker').datetimepicker({
    format: 'DD-MM-YYYY'
  });

  // friends tag
  $.ajax({
    method: 'GET',
    url: '/trips/<%= @trip.id %>/available_friends',
    success: function (data) {
      $('#participantTags').tagit({
        availableTags: data.map(function (user) {
          return user.name
        }),
        singleField: true,
        singleFieldNode: $('#participant')
      });

      <% @trip.users_except_current.each do |user| %>
        $("#participantTags").tagit("createTag", "<%= user.name %>");
      <% end %>

      $('#participantTags').tagit({
        beforeTagRemoved: function (event, ui) {
          removeTag(ui.tagLabel);
        },
        afterTagAdded: function (event, ui) {
          addTag(ui.tagLabel);
        }
      })
    }
  });

  // Remove tag
  removeTag = function (tagLabel) {
    $.ajax({
      method: 'DELETE',
      url: '/user_trips',
      data: {trip_id: '<%= @trip.id %>', tag: tagLabel},
      success: function (data) {
      }
    });
  };

  // Add tag
  addTag = function (tagLabel) {
    $.ajax({
      method: 'POST',
      url: '/user_trips',
      data: {trip_id: '<%= @trip.id %>', tag: tagLabel},
      success: function (data) {
      }
    });
  };

  // Departure
  $.ajax({
    method: 'GET',
    url: '/regions/all',
    success: function (data) {
      var states = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: data.map(function (region) {
          return region.name;
        })
      });
      $('#departure').typeahead({
            hint: true,
            highlight: true,
            minLength: 1
          },
          {
            name: 'states',
            source: states
          });
    }
  });
</script>
