<h2 class="fs-title short-border">Budget Plan</h2>
<div class="budget-plan">
  <div class="budget-plan-table">
    <div class="budget-row header-budget">
      <div class="col-md-3">
        Item
      </div>
      <div class="col-md-3">
        Assignee
      </div>
      <div class="col-md-3">
        Cost
      </div>
      <div class="col-md-3">
        Actions
      </div>
    </div>

    <%= render 'budget_sections/budget_section' %>
    <%= render 'budget_sections/budget_section' %>
    <%= render 'budget_sections/budget_section' %>

    <div class="budget-row total-budget">
      <div class="col-md-3">Total:</div>
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-3">
        10.000.000vnd
      </div>
      <div class="col-md-3">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="budget-plan-split-individual">
    <span class="budget-plan-split-individual-title">Individual Expenses</span>
    <div class="panel-group" id="accordion">
      <%= render 'user_budget/user_budget' %>
      <%= render 'user_budget/user_budget' %>
      <%= render 'user_budget/user_budget' %>
    </div>
  </div>
</div>

<%= render 'trips/footer_navigator' %>
