<h2 class="fs-title short-border">Budget Plan</h2>

<% if @total_money > @trip.expected_budget %>
    <div class="alert alert-danger" role="alert">
      Total money (<%= format_price(@total_money) %>) overcomes expected budget (<%= format_price(@trip.expected_budget) %>)
    </div>
<% end %>

<div class="budget-plan">


  <div class="budget-plan-split-individual col-md-4 col-sm-4 col-xs-12 pull-right">
    <span class="budget-plan-split-individual-title">Individual Expenses</span>
    <div class="panel-group" id="accordion">
      <%= render partial: 'users/user_with_budgets', collection: @user_with_budgets, as: :user %>
    </div>
  </div>
  <div class="budget-plan-table col-md-8 col-sm-8 col-xs-12 pull-left">
    <div class="budget-row header-budget">
      <div class="col-md-3">
        Item
      </div>
      <div class="col-md-3">
        Assignee
      </div>
      <div class="col-md-3">
        Cost
      </div>
      <div class="col-md-3">
        Actions
      </div>
    </div>

    <div id="list_budget_sections">
      <%= render @budget_sections %>
    </div>

    <div class="budget-row total-budget">
      <div class="col-md-3">Total:</div>
      <div class="col-md-3">&nbsp;</div>
      <div class="col-md-3">
        <%= format_price(@total_money) %>
      </div>
      <div class="col-md-3">
        &nbsp;
      </div>
    </div>
  </div>
</div>

<%= render 'trips/footer_navigator' %>

<script>
  <% set_current_screen('budget_plan') %>
</script>
