<div class="tab-pane active" id="day<%= day_no %>">
  <div class="schedule-form">
    <ul class="nav nav-tabs">
      <li class="active font-normal"><a data-toggle="tab" href="#schedule_<%= day_no %>">Schedule</a></li>
      <li><a data-toggle="tab" href="#map_<%= day_no %>" class="font-normal">Map</a></li>
    </ul>

    <div class="tab-content schedule-content" style="margin-top: 24px">
      <div id="schedule_<%= day_no %>" class="tab-pane fade in active schedule">
        <div class="col-md-6">
          <form class="form-horizontal form-schedule form-card" id="form-schedule_<%= day_no %>">
            <div class="form-group">
              <label for="startPlace_<%= day_no %>" class="col-md-6 control-label">Departure From: </label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="startPlace_<%= day_no %>" placeholder="Go From">
              </div>
            </div>
            <div class="form-group">
              <label for="attraction_<%= day_no %>" class="col-md-6 control-label">Tourist Attraction: </label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="attraction_<%= day_no %>" placeholder="Where you love to visit">
              </div>
            </div>
            <div class="form-group">
              <label for="spendingTime_<%= day_no %>" class="col-md-6 control-label">Hours spending: </label>
              <div class="col-md-6">
                <select class="form-control" id="spendingTime_<%= day_no %>">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-6 control-label"></label>
              <div class="col-md-6">
                <button type="submit" class="btn btn-default" style="width: 100%">Add to itinerary</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-md-6 itinerary-display">
          <ul class="sortable" id="sortable_<%= day_no %>">
            <li class="day_detail">
              <div class="day-place-detail">
                <div class="col-md-3">
                  <%= image_tag(asset_path('hcm_church.jpg'), height: '50', width: '50', style: 'vertical-align: bottom', class: "img-circle") %>

                </div>
                <div class="col-md-6 day-place-detail-middle">
                    <p class="day-place-name">Ho Chi Minh</p>
                  <h3 class="tag">30mins</h3>

                </div>
                <div class="col-md-3 text-center remove-itinerary">
                  <a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </div>

              </div>

            </li>
          </ul>
        </div>
      </div>
      <div id="map_<%= day_no %>" class="tab-pane fade">
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.</p>
      </div>
    </div>
  </div>
</div>