<div class="form-slide">
  <h2 class="fs-title">Itinerary</h2>

  <div class="itinerary">
    <div class="row">
      <div class="itinerary-details">
        <div class="tabs-left">
          <ul class="nav nav-tabs-vertical" id="day-left-panel">
            <% @trip.schedule_days.each do |day| %>
                <li class="<%= day.index == 1 && 'active' %>" id="li-day<%= day.index %>">
                  <a href="#day<%= day.index %>" data-toggle="tab" class="days-tab font-normal"><%= day.title %></a>
                </li>
            <% end %>
          </ul>
          <div class="tab-content itinerary-content">
            <%= render @trip.schedule_days %>
          </div> <!-- /tab-content -->
        </div> <!-- /tabbable -->
      </div> <!-- /col -->
    </div> <!-- /row -->

    <%= link_to 'Add Day', trip_schedule_days_path(@trip), method: :post,
                remote: true, class: 'btn btn-primary btn-lg btn-block' %>
  </div> <!-- /container -->
</div>

<script>
  $(function () {
    $(".sortable").sortable();
    $(".sortable").disableSelection();
  });
</script>