<h2 class="fs-title short-border">Itinerary</h2>
<div class="panel with-nav-tabs panel-default">
  <div class="panel-heading">
    <ul class="nav nav-tabs" id="day-left-panel">
      <li>
        <%= link_to trip_schedule_days_path(@trip), method: :post,
                    remote: true, class: 'btn-add-schedule' do %>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add Day
        <% end %>
      </li>

      <%= render partial: 'schedule_days/li_schedule_day', collection: @schedule_days, as: :schedule_day %>
    </ul>
  </div>
  <script>
    DEFAULT_LAT_AVG = 14.0583;
    DEFAULT_LNG_AVG = 108.2772;

    // Toggle maps
    maps = {};
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      resumeMap(e.target.id);
    });

    resumeMap = function (id) {
      var map = maps[id][0];
      var bounds = maps[id][1];
      google.maps.event.trigger(map, 'resize');
      map.setZoom(15);
      if (bounds.isEmpty()) {
        map.setZoom(5);
        map.setCenter(new google.maps.LatLng(DEFAULT_LAT_AVG, DEFAULT_LNG_AVG));
      } else {
        map.fitBounds(bounds);
      }
    };

    // Place engine
    places = <%= raw @places.to_json %>;
    placeEngine = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('suggest_title'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      identify: function (obj) {
        return obj.id;
      },
      local: places
    });
  </script>
  <div class="panel-body">
    <div class="tab-content" id="itinerary-content">
      <%= render @schedule_days %>
    </div>
  </div>

  <%= render 'trips/footer_navigator' %>
</div>
