<div class="col-md-6">
  <div class="card">
    <div class="card-image">
      <%= link_to trip do %>
          <img height="300" style="width: 100%" src="<%= trip.display_photo %>">
          <span class="card-title"><%= trip.title %></span>
      <% end %>
    </div>

    <div class="card-content">
      <h4><%= trip.departure.try(:name) %></h4>
      <p><%= truncate(trip.description, :length => 40, :separator => ' ') %></p>
      <span class="trip-budget">Total budget: <%= format_price(trip.total_money) %></span>
    </div>

    <div class="card-action">
      <% if trip.is_owner?(current_user_id) %>
          <%= link_to edit_trip_path(trip), class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit
          <% end %>
      <% else %>
          <%= link_to clone_trip_path(trip), class: 'btn btn-success' do %>
              <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>Clone the trip
          <% end %>
      <% end %>
    </div>
  </div>
</div>
