<ul class="nav nav-pills top-after-login">
  <li>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Notification
      </button>
      <div class="dropdown-menu notification-box" id="notification-list">
        <%= render 'notifications/notification' %>
      </div>
    </div>
  </li>

  <li role="presentation" class="dropdown" style="display: inline-flex">
    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <%= image_tag current_user.avatar, width: 30, class: 'img-rounded' %>
      <div class="username-right-top"><%= current_user.name %></div>
      <span class="caret"></span>
    </a>

    <ul class="dropdown-menu">
      <li><a href="#" data-toggle="modal" data-target="#trip-form">New Trip</a></li>
      <li><a href="#" data-toggle="modal" data-target="#friend-form">Add Friend</a></li>
      <li><%= link_to 'Profile', current_user, method: :get %></li>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Logout', sessions_path, method: :delete %></li>
    </ul>
  </li>
</ul>

<%= render 'trips/new' %>
<%= render 'friend_relations/new' %>
