<div class="notification">
  <% if user_notification.notification.category.eql? "request" %>
  <p><b><%= user_notification.sender.name %></b></p>
  <%= user_notification.notification.description %>
  <p>
    <span class="sender_id" style="display: none"><%= user_notification.sender.id %></span>
    <button class="accept">Accept</button>
    <button class="deny">Deny</button>
  </p>
  <% elsif user_notification.notification.category.eql? "news"%>
  <p><b><%= user_notification.sender.name %></b></p>
  <%= user_notification.notification.description %>
  <% end %>
</div>
