<div class="horizontal-block-center">
  <div class="profile-basic-info">
    <div class="profile-photo">
      <%= image_tag "http://#{@user.avatar}", class: 'img-rounded', style: 'height: 120px; width: 120px; object-fit: cover;' %>
    </div>
    <div class="basic-info">
      <h2><%= @user.name %></h2>
      <span class="num-contribution" style="font-size: 24px"><%= pluralize(@user.point, 'point') %></span>
    </div>
  </div>
  <div class="trip-list horizontal-block-center-bg-yellow">
    <h2 class="fs-title short-border"><%= @user.name %> Trips</h2>
    <div class="container">
      <div class="row">
        <%= render partial: 'trips/trip_summary', collection: @user.trips, as: :trip %>
      </div>
    </div>
  </div>
</div>