<div class="horizontal-block-center">
<div class="profile-basic-info">
  <div class="profile-photo"><img src="http://farm3.static.flickr.com/2390/1498191552_239b65279e.jpg?v=0" class="img-rounded"/></div>
  <div class="basic-info">
    <h2>Vu Huy Quan </h2>
    <span class="profile-email"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>nongdenchen@gmail.com</span>
    <span class="top-contributor-icon"></span>
  </div>

</div>
</div>
<div class="trip-list horizontal-block-center-bg-yellow">
  <h2 class="fs-title short-border">Quan's Trips</h2>

  <div class="container">
    <div class="row">
      <!-- Card Projects -->
      <div class="col-md-6">
        <div class="card">
          <div class="card-image">
            <a href="#">
              <img class="img-responsive" src="http://www.abdphoto.net/gallery/wedding/saigon-notre-dame.jpg">
             <span class="card-title">Trip Title</span>
            </a>
          </div>

          <div class="card-content">
            <h4>Ho Chi Minh - Ha Noi</h4>
            <p><%= truncate("Curabitur vulputate orci non pharetra viverra. Nulla suscipit maximus enim, eget efficitur nisi iaculis eu. Aliquam aliquet varius vehicula.", :length => 40, :separator => ' ') %></p>
            <span class="num-people-clone">5 people have cloned this trip.</span>
            <span class="trip-budget">Total budget: 3 000 000VND</span>
          </div>

          <div class="card-action">
            <button class="btn btn-success">
              <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>Clone the trip
            </button>
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-image">
            <a href="#">
              <img class="img-responsive" src="https://s-media-cache-ak0.pinimg.com/736x/3e/a0/07/3ea0079b17bfd0588fad9a4590499130.jpg">
              <span class="card-title">Trip Title</span>
            </a>
          </div>

          <div class="card-content">
            <h4>Ho Chi Minh - Ha Noi</h4>
            <p><%= truncate("Curabitur vulputate orci non pharetra viverra. Nulla suscipit maximus enim, eget efficitur nisi iaculis eu. Aliquam aliquet varius vehicula.", :length => 40, :separator => ' ') %></p>
            <span class="num-people-clone">5 people have cloned this trip.</span>
            <span class="trip-budget">Total budget: 3 000 000VND</span>
          </div>

          <div class="card-action">
            <button class="btn btn-success">
              <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>Clone the trip
            </button>
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-image">
            <a href="#">
              <img class="img-responsive" src="http://www.abdphoto.net/gallery/wedding/saigon-notre-dame.jpg">
              <span class="card-title">Trip Title</span>
            </a>
          </div>

          <div class="card-content">
            <h4>Ho Chi Minh - Ha Noi</h4>
            <p><%= truncate("Curabitur vulputate orci non pharetra viverra. Nulla suscipit maximus enim, eget efficitur nisi iaculis eu. Aliquam aliquet varius vehicula.", :length => 40, :separator => ' ') %></p>
            <span class="num-people-clone">5 people have cloned this trip.</span>
            <span class="trip-budget">Total budget: 3 000 000VND</span>
          </div>

          <div class="card-action">
            <button class="btn btn-success">
              <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>Clone the trip
            </button>
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-image">
            <a href="#">
              <img class="img-responsive" src="http://cdn.c.photoshelter.com/img-get/I0000i9qfHa_Szck/s/750/750/Vietnam-Travel-Photography-142.jpg">
              <span class="card-title">Trip Title</span>
            </a>
          </div>

          <div class="card-content">
            <h4>Ho Chi Minh - Ha Noi</h4>
            <p><%= truncate("Curabitur vulputate orci non pharetra viverra. Nulla suscipit maximus enim, eget efficitur nisi iaculis eu. Aliquam aliquet varius vehicula.", :length => 40, :separator => ' ') %></p>
            <span class="num-people-clone">5 people have cloned this trip.</span>
            <span class="trip-budget">Total budget: 3 000 000VND</span>
          </div>

          <div class="card-action">
            <button class="btn btn-success">
              <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>Clone the trip
            </button>
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-image"><a href="#">
            <img class="img-responsive" src="http://i1.trekearth.com/photos/142676/justin_mott_photography_hoi_an.jpg">
            <span class="card-title">Trip Title</span></a>
          </div>

          <div class="card-content">
            <h4>Ho Chi Minh - Ha Noi</h4>
            <p><%= truncate("Curabitur vulputate orci non pharetra viverra. Nulla suscipit maximus enim, eget efficitur nisi iaculis eu. Aliquam aliquet varius vehicula.", :length => 40, :separator => ' ') %></p>
            <span class="num-people-clone">5 people have cloned this trip.</span>
            <span class="trip-budget">Total budget: 3 000 000VND</span>
          </div>

          <div class="card-action">
            <button class="btn btn-success">
              <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>Clone the trip
            </button>
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>