<div class="region-header">
  <% if params[:id] == 1 %>
    <%= image_tag('danang_detail.png') %>
  <% elsif params[:id] == 2 %>
    <%= image_tag('hanoi_detail.png') %>
  <% else %>
    <%= image_tag('saigon_detail.png') %>
  <% end %>
</div>

<div class="region-detail ">
  <% if params[:id] == 1 %>
      <div class="region-info">
        <p>

          Nowhere in Vietnam is changing as fast as Danang. For decades it had a reputation as a provincial backwater, but big changes are ongoing. Stroll along the Han riverfront and you'll find gleaming new modernist hotels, and apartments and restaurants are emerging. Spectacular new bridges now span the Han river, and in the north of the city, the landmark new D-City is rising from the flatlands. Venture south and the entire China Beach strip is booming with hotel and resort developments.

          That said, the city itself still has few conventional sightseeing spots, except for a very decent museum and a stunningly quirky bridge. So for most travellers, a few days enjoying the city’s beaches, restaurants and nightlife is probably enough. Book an after-dark tour to see Danang at its shimmering neon-lit best. The city's street food scene also deserves close investigation.

          Danang also makes a great base for day trips. The city is part of a long thin peninsula, at the northern tip of which is Nui Son Tra (called Monkey Mountain by US soldiers). China Beach and the five Marble Mountains lie southwest of the city.
           </p>
      </div>
      <div class="region-photos">
        <div class="trip-gallery-display">
          <h2 class="fs-title short-border">Trip Gallery</h2>
          <div class="trip-gallery-carousel">
            <div><img width="200" height="150" src="https://xotours.vn/blog/wp-content/uploads/2013/04/saigon-at-sunset.jpg" /></div>
            <div><img width="200" height="150" src="http://www.abdphoto.net/gallery/wedding/saigon-notre-dame.jpg" /></div>
            <div><img width="200" height="150" src="https://s-media-cache-ak0.pinimg.com/736x/3e/a0/07/3ea0079b17bfd0588fad9a4590499130.jpg" /></div>
            <div><img width="200" height="150" src="http://farm9.staticflickr.com/8116/8661097896_885146ed3c_b.jpg" /></div>
            <div><img width="200" height="150" src="http://images.nationalgeographic.com/wpf/media-live/photos/000/714/overrides/ho-chi-minh-city-vietnam_71471_990x742.jpg" /></div>
          </div>
        </div>

      </div>
  <% elsif params[:id] == 2 %>
      <%= image_tag('hanoi_detail.png') %>
  <% else %>
      <div class="region-info">
        <p>

          Ho Chi Minh City, commonly known as Saigon, is a city in southern Vietnam famous for the pivotal role it played in the Vietnam War. It's also known for its French colonial architecture, including Notre-Dame Basilica, made entirely of materials imported from France, and the neoclassical Saigon Central Post Office. Food stalls line the city’s streets, especially around bustling Ben Thanh Market.
        </p>
      </div>
      <div class="region-photos">
        <div class="trip-gallery-display">
          <h2 class="fs-title short-border">City Gallery</h2>
          <div class="trip-gallery-carousel">
            <div><img width="200" height="150" src="https://xotours.vn/blog/wp-content/uploads/2013/04/saigon-at-sunset.jpg" /></div>
            <div><img width="200" height="150" src="http://www.abdphoto.net/gallery/wedding/saigon-notre-dame.jpg" /></div>
            <div><img width="200" height="150" src="https://s-media-cache-ak0.pinimg.com/736x/3e/a0/07/3ea0079b17bfd0588fad9a4590499130.jpg" /></div>
            <div><img width="200" height="150" src="http://farm9.staticflickr.com/8116/8661097896_885146ed3c_b.jpg" /></div>
            <div><img width="200" height="150" src="http://images.nationalgeographic.com/wpf/media-live/photos/000/714/overrides/ho-chi-minh-city-vietnam_71471_990x742.jpg" /></div>
          </div>
        </div>

      </div>
  <% end %>
</div>
<div class="place-trips">
  <div class="trip-list horizontal-block-center-bg-yellow">
    <h2 class="fs-title short-border">Sai Gon Trips</h2>

    <div class="container">
      <div class="row">
        <!-- Card Projects -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-image">
              <a href="#">
                <img class="img-responsive" src="http://timeoutvietnam.vn/Files/uploads/20151211/images/du-lich-tp-ho-chi-minh-va-nhung-dieu-can-biet-2.jpg">
                <span class="card-title">Must-go City in Vietnam</span>
              </a>
            </div>

            <div class="card-content">
              <h4>Da Nang- TP Ho Chi Minh</h4>
              <p><%= truncate("Curabitur vulputate orci non pharetra viverra. Nulla suscipit maximus enim, eget efficitur nisi iaculis eu. Aliquam aliquet varius vehicula.", :length => 40, :separator => ' ') %></p>
              <span class="num-people-clone">5 people have cloned this trip.</span>
              <span class="trip-budget">Total budget: 20 000 000VND</span>
            </div>

            <div class="card-action">
              <button class="btn btn-success">
                <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>Clone the trip
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-image">
              <a href="#">
                <img class="img-responsive" src="http://a9.vietbao.vn/images/vn999/55/2015/10/20151013-tpho-chi-minh-lot-top-50-thanh-pho-an-toan-nhat-tg-4.jpg">
                <span class="card-title">Wonderful trip to Saigon</span>
              </a>
            </div>

            <div class="card-content">
              <h4>Ha Noi - TP Ho Chi Minh</h4>
              <p><%= truncate("Curabitur vulputate orci non pharetra viverra. Nulla suscipit maximus enim, eget efficitur nisi iaculis eu. Aliquam aliquet varius vehicula.", :length => 40, :separator => ' ') %></p>
              <span class="num-people-clone">10 people have cloned this trip.</span>
              <span class="trip-budget">Total budget: 15 000 000VND</span>
            </div>

            <div class="card-action">
              <button class="btn btn-success">
                <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>Clone the trip
              </button>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.trip-gallery-carousel').slick({
      infinite: true,
      slidesToShow: 4,
      slidesToScroll: 4
    });
  });
</script>
