<div class="budget-row section-budget-header">
  <%= budget_section.title %>
</div>

<div id="list_budget_items">
  <%= render budget_section.budget_items %>
</div>

<div class="budget-row section-budget-item budget-item-form" id="pre-trip-form">
  <%= form_tag budget_items_path, remote: true do %>
      <div class="col-md-3">
        <input type="text" class="form-control" id="title"
               name="budget_item[name]" placeholder="Item">
      </div>
      <input type="hidden" value="<%= budget_section.id %>" name="budget_item[budget_section_id]">
      <input type="hidden" value="<%= @trip.id %>" name="trip_id">
      <div class="col-md-3">
        <select class="form-control" name="assignee">
          <% @people_in_trip.each do |user| %>
              <option value="<%= user.id %>"><%= user.name %></option>
          <% end %>
          <option value="split">Split Equally</option>
        </select>

      </div>
      <div class="col-md-3">
        <input type="number" class="form-control" id="expected_budget"
               placeholder="Cost" name="budget_item[price]" min="0">
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-success btn-block">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
      </div>
  <% end %>
</div>