<!DOCTYPE html>
<html>
<head>
  <title>We Trip</title>
  <link rel="icon" href="<%= image_path 'logo.png' %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if params[:controller] == 'trips' %>
    <div class="trip-top-header">
      <div class="container">
        <h1>WE TRIP</h1>
        <span class="slogan">Travel in your way</span>
        <div class="top-right-trip">
          <%= render 'share/top_right_dropdown' %>
        </div>
      </div>
    </div>
    <%= yield %>
    <%= render 'share/loading' %>
<% elsif params[:controller] == 'home' %>
    <%= yield %>
<% else %>
    <%= render 'share/navbar' %>
    <%= render 'share/search' %>

    <div class="container">
      <%= yield %>
    </div>
<% end %>

<%= render 'sessions/new' %>
<%= render 'users/new' %>
<%= render 'trips/new' %>

</body>
</html>
