<!DOCTYPE html>
<html>
<head>
  <title>We Trip</title>
  <link rel="icon" href="<%= image_path 'logo.png' %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'share/navbar' %>
<%= render 'share/search' %>

<div class="container">
  <%= yield %>
</div>
<%= image_tag(asset_path("foot_travel.jpg"), class:"image-foot") %>

</body>
</html>
