<!DOCTYPE html>
<html>
<head>
  <title>We Trip</title>
  <link rel="icon" href="<%= image_path 'logo.png' %>">
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- FLASH -->
<%= render 'share/flash' %>

<!-- LOADING VIEW -->
<%= render 'share/loading' %>

<% if params[:controller] == 'home' %>
    <div class="jumbotron image-search-home">
      <div class="container">

        <!-- NAV BAR -->
        <%= render 'share/navbar' %>

        <!-- CREATE ACTION -->
        <div class="header text-center">
          <h1>WE TRIP</h1>
          <h2>Travel in your own way</h2>
          <% if sign_in? %>
              <button type="button" class="btn" id="createTripBtn" data-toggle="modal" data-target="#trip-form">
                Create a trip
              </button>
              <% else %>
              <div class="middle-before-login">
                <button type="button" class="btn" id="loginBtn" data-toggle="modal" data-target="#login-form">Login</button>
                <button type="button" class="btn" id="registerBtn" data-toggle="modal" data-target="#register-form">Register</button>
                <%= render 'sessions/new' %>
                <%= render 'users/new' %>
              </div>

          <% end %>
        </div>
      </div>

      <!-- SEARCH ACTION -->
      <div class="main-search">
        <div class="col-sm-12">
        <%= render 'share/search' %>
        </div>
      </div>
    </div>

    <!-- MAIN ACTION -->
    <%= yield %>
<% else %>
    <!-- HEADER VIEW -->
    <div class="trip-top-header">
      <div class="container">
        <a href="<%= root_path %>">
          <h1>WE TRIP</h1>
          <span class="slogan">Travel in your own way</span>
        </a>
        <div class="top-right-trip">
          <% if sign_in? %>
              <%= render 'share/login_user_menu' %>
          <% else %>
              <div class="top-before-login text-right" style="margin-top: 8px">
                <button type="button" class="btn" id="loginBtn" data-toggle="modal" data-target="#login-form">Login</button>
                <button type="button" class="btn" id="registerBtn" data-toggle="modal" data-target="#register-form">Register</button>
              </div>
              <%= render 'sessions/new' %>
              <%= render 'users/new' %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
<% end %>

</body>
</html>
